@charset
"utf-8"
;

a:link {
        text-decoration: none;
}    

p {
        color: #3B3B3B;
        font-size: 9pt;
        font-weight: normal;
}

.bold9orange {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .78em;
    font-weight: bold;
    color: #E96F23;
    line-height: 1.2em;
    text-decoration: none;
    }

#Main_Column_Middle_Div {
        border-top: 2px solid grey;
        width: 552px;
        }
        
div#Main_Column_Middle_Div h2 {
    /* Same as subBlue16 */
    color: #1F408B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: none;
    }

        
div#Main_Column_Middle_Div li {
        color: #5a78b0;
        font-size: 12pt;
        font-weight: bold;
        /*list-style-type: disc;*/
        padding: 0 0 0 18px;
        margin: 0 0 0 12px;
        background: url(PiEimages/ButtonMoreBlue12.png) 0 3px no-repeat;
}

div#Main_Column_Middle_Div li a {
        color: #5a78b0;
        text_decoration: none;
}

div#Main_Column_Middle_Div li p a {
        color: #E96F23;
}
    
div#Main_Column_Middle_Div li li {
            color: #3B3B3B;
            font-size: 9pt;
            font-weight: normal;
            list-style-type: none;
            padding: 0 0 0 15px;
            margin: 0 0 0 12px;
            background: url(PiEimages/TriangleOrange11.gif) 0 3px no-repeat;
}

div#Main_Column_Middle_Div li li a {
        color: #E96F23;
}

div#Main_Column_LeftBorder_Div {
        border-right: 2px solid grey;
        height: 600px;
        width: 552px;
}

#sidebar_flushleft_list {
        margin-left:.5em; 
        padding-left:.5em;
        }

ul#sidebar_flushleft_list li {
        font-size: 9pt;
        list-style-type: disc;
        text-align: left;
}

div#RightColumn  a {
        color: #E96F23;
}

#RightColumn_SubDiv {
        border-top: 2px solid grey;
        padding: 1.2em 0;
}

#DonateNow_button {
        align: center;
        height: 73px;
        padding: 2em 0em;
        width: 170px;
}

#Business_Partner {
        align: center;
        height: 75px
        margin-top: 1.2em;
        margin-right: auto;
        margin-bottom: 1.2em;
        margin-left: auto;
        width: 154px;
}

.clearfloats {clear: both;}

.float_left_div {
         float: left;
         width: 325px;
         /* padding: 0.5em; */
        }

div.float_left_div ul li {
        width: 325px
        }

.float_left_img {
         float: left;
         /* padding: 0.5em; */
        }

#float_left_ul {
         float: left;
         padding: 0.5em;
        }
 
 ul#float_left_ul li {
         font-size: 9pt;
         list-style-type: none;
         text-align: left;
}